body {
    display: flex;
    background-color: white;
    font-family: monospace;
    flex-direction: column;
    gap: 10px; 
    text-align: center;
}

.title{
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu {
    width: 360px;
    display: flex;
    flex-direction: column;
    padding: 0px 80px;
}

.canvas {
    width: 700px;
    height: 700px;
    display: flex;
    flex-direction: column;
}

.color {
    flex: 1; 
    border: 1px black solid;
    margin: 10px 0px;
}

.h {
    background-color: gray;
}